<tr>
  <td><%= phrase.id %></td>
  <td><%= link_to phrase.phrase , phrase_path(phrase)  %></td>
  <td><%= phrase.translation %></td>
  <td><%= phrase.category %></td>
    <% if render_in_phrase%>
      <td><%= link_to phrase.user&.username, user_path(phrase.user), {class: "nav-link active"} %></td>
    <%else%>
    <% if phrase.author? current_user %>    
      <td>
        <%= link_to 'Edit', edit_phrase_path(phrase) %>
        <%= link_to 'Delete', phrase, method: :delete , data: { confirm: 'Are you sure?' } %>    
      </td>
    <%end%>
    <%end%>
    <td>
    <%= link_to vote_phrase_path(phrase, vote: 'up'), method: :post  do%>.
      <div><span class= "glyphicon glyphicon-chevron-up upvote" aria-hidden="true"></span>
      </div>  
    <% end %>
      <%= phrase.get_likes.size - phrase.get_dislikes.size %>
    <%= link_to vote_phrase_path(phrase, vote: 'down'), method: :post  do%>. 
      <div><span class= "glyphicon glyphicon-chevron-down downvote" aria-hidden="true"></span>
      </div>  
    <% end %>
    </td>    
</tr>