<%= form_for(@phrase) do |f| %>
  <%if @phrase.errors.any? %>
    <div id = 'error explanation'>
      <h2><%= pluralize(@phrase.errors.count, 'error') %> prohibited this phrase from being saved:</h2>
  
      <ul>
      <% @phrase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <%end%>   
      </ul>
    </div>
  <% end %>
<div class="card">
  <div class="card-body">
    
      <div class = 'mb-3'>
        <%= f.label :phrase, { class: "form-label"}  %>
        <%= f.text_field :phrase, { class: "form-control" } %>
      </div>
      <div class = 'mb-3'>
        <%= f.label :translation, { class: "form-label" } %>
        <%= f.text_field :translation, { class: "form-control" } %>
      </div>
      <div class = 'mb-3'>
        <%= f.label :category, { class: "form-label" } %>
        <%= f.select :category, Phrase.categories.keys ,{},{ class: "form-control" } %>
      </div>

      <%= f.fields_for :examples do |example| %>
        <div class = 'mb-3'>
          <%= example.label "Example", { class: "form-label" } %>
          <%= example.text_field :example,{ class: "form-control" } %>
          <%= example.hidden_field :user_id,{ class: "form-control" } %>
        </div>
      <% end %>  
      
      <div>
      <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    
  </div>
</div>  
<% end %>  