<tr>
  <td><%= user.id %></td>
  <td><%= user.username %></td>
  <td><%= user.email %></td>
  <td><%= date_formatter(user.created_at) %></td>
  <td><%= date_formatter(user.updated_at) %></td>
  <td><%= user.carma %></td>
 </tr>